@using Blazor.Diagrams.Components.Renderers;

<div class="card" style="width: 250px;">
    <div class="card-body">
        <h5 class="card-title">Add</h5>
        <div class="form-group">
            <input type="number" class="form-control" @bind-value="Node.FirstNumber" placeholder="Number 1" />
        </div>
        <div class="form-group">
            <input type="number" class="form-control" @bind-value="Node.SecondNumber" placeholder="Number 2" />
        </div>
    </div>
    @foreach (var port in Node.Ports)
    {
        <!-- Default ports -->
        <PortRenderer Port="port" />
    }
</div>

@code {
    [Parameter]
    public AddTwoNumbersNode Node { get; set; }
}