div {
    width: 230px;
    outline: 1px solid black;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    div > h5 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    div > input[type=text] {
        padding: 3px;
        border-radius: 3px;
        border: 1px solid black;
        margin-bottom: 8px;
    }


::deep .diagram-port {
    position: absolute;
    width: 30px;
    height: 20px;
    background-color: black;
    left: 50%;
    transform: translate(-50%, -50%);
}

    ::deep .diagram-port.top {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        top: -10px;
    }

    ::deep .diagram-port.bottom {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        bottom: -30px;
    }


.custom-node.selected, .custom-node.selected .diagram-port {
    border: 1px solid #6e9fd4;
}

.custom-node:hover .diagram-port {
    visibility: visible;
}

.custom-node .diagram-port {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    visibility: hidden;
}

    .custom-node .diagram-port:hover, .diagram-node > .card .diagram-port.has-links {
        visibility: visible;
        background-color: black;
    }

    .custom-node .diagram-port.bottom {
        position: absolute;
        bottom: -10px;
        left: 115px;
    }

    .custom-node .diagram-port.top {
        position: absolute;
        top: -10px;
        left: 115px;
    }
.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 40px;
    border-color: #f0f0f0;
}

    .form-control::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #afb3bb;
    }

    .form-control:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #afb3bb;
    }

    .form-control::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #afb3bb;
    }

    .form-control:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #afb3bb;
    }

    .form-control:focus {
        border-color: #e3e3e3;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
    appearance: none;
    /* for mobile safari */
    -webkit-appearance: none;
}