<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="internal-nlog.txt">
	<extensions>
		<add assembly="Fanews.Log.Extensions.Logstash" />
	</extensions>
	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
		<!-- write logs to logstash  -->
		<target xsi:type="Logstash" name="logstash" address="tcp://collectapislb.elk.fw:5959">
			<field name="Index" layout="smartfanews" />
			<field name="Version" layout="1.0.0" />
			<field name="Tags" layout="nlog" />
			<field name="Port" layout="2" />
			<field name="Path" layout="gpt" />
		</target>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="logstash" />
	</rules>
</nlog>
